{% extends "base.html" %}
{% block title %}Config{% endblock %}

{% block content %}
<form class="form-inline" action="/send" method="post">
	<div class="form-group">
		<label for="motion_threshold">Motion threshold: </label>
		<input type="text" id="motion_threshold">
	</div>
	<input type="submit" class="btn btn-default" value="Submit"/>
</form>
<form class="form-inline" action="/send"  method="post">
	<div class="checkbox">
	  <label><input type="checkbox" id="cat">Cats</label>
	</div>
	<input type="submit" class="btn btn-default" value="Submit"/>
</form>
{% endblock %}
